/* celeste fondo: 4EC2F6 */
/* azul iconos y textos: 0C46A0 */
/* celeste tarjeta  de alerta: BADDFA */
/* rojo: F3501D */

.layout {
    padding: 0 20px 0 20px;

}

#dashboard {
    /*height:100%;*/
}

#dashboard .header-data {
    margin-top: 20px;
}

#dashboard #header .user-bar {
    height: 40px;
    background: #000;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    color: white;
    text-align: right;
}

#dashboard #header .user-bar .icon .img {
    height: 40px;
}

#dashboard #body .name {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: right;
}

#dashboard #body .date {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: white;
}

#dashboard #body .location {
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50pt;
    color: blue;
}

#dashboard #body .last-update {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: white;
}

#dashboard #system-info {
    height:125px;
    margin-top: 50px;
}

#dashboard #system-info .parameters {
    text-align: center;
    /*border-top: 2px black dashed;*/
}

#dashboard #system-info .parameters .parameter{
    /*border-right: 2px black dashed;*/
}

#dashboard #system-info .parameters .parameter{
    /*border-right: 2px black dashed;*/
}

/* ----------------------- CARD -----------------------*/
#card{
    margin-top:100px;
}
#card .card-header{
    background: #bbdefa;
    height:180px;
}

#card .card-header .info{
    display: inline;
}
#card .card-header .card-icon{
    display: inline;
}

#card .card-header .card-icon .img{
    height:190px;
}

#card .card-header .info{
    display: inline;
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 60pt;
    line-height: 2;
    text-align: right;
}

#card .body{
    background: #bbdefa;
}

#card .body .title{
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #01c853;
    font-size: 50pt;
    padding: 15px;
}

#card .body .description{
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5283c5;
    font-size: 20pt;
    padding: 15px;
}

#card .footer{
    height: 50px;
    background: white;
}

#card .footer >img{
    height: 50px;
}

/* -------------------------- ALERTS -------------------- */
#alerts{
    margin-top: 100px;
    background: #0D47A1;
}

#alerts .img {
    width: 50px;
    display: inline;
}

#alerts .info{
    display: inline;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 15pt;
    padding: 15px;
    line-height: 2;
}
/*#dashboard #system-info .parameters .parameter .icon {*/
    /*!*background: white;*!*/
    /*border-right: 2px black dashed;*/
/*}*/

/*#dashboard #system-info .parameters .parameter .info {*/
    /*!*background: blue;*!*/
    /*border-right: 2px black dashed;*/

/*}*/

#dashboard #system-info .parameters .parameter .info .dashboard-label {
    display: inline;
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: white;

}

#dashboard #system-info .parameters .parameter .info .value {
    display: inline;
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 500;

}

/* --------------------- BODY ----------------*/
#dashboard #body {
    padding: 0 30px 0 30px;
}

/* --------------------- FOOTER ----------------*/

#footer {
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer .report-symptoms {
    width: 100%;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20pt;
    font-weight: 500;
    background: black;
    border:0;
}