/* celeste fondo: 4EC2F6 */
/* azul iconos y textos: 0C46A0 */
/* celeste tarjeta  de alerta: BADDFA */
/* rojo: F3501D */

.layout {
    padding: 0 20px 0 20px;

}

#dashboard {
    /*height:100%;*/
}

#dashboard .header-data {
    margin-top: 20px;
}

#dashboard #header .user-bar {
    height: 40px;
    background: #000;
}

#dashboard #header .user-bar .icon .img {
    height: 40px;
}

#dashboard #header .name {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: right;
}

#dashboard #header .date {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: white;
}

#dashboard #header .location {
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50pt;
    color: blue;
}

#dashboard #header .last-update {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: white;
}

#dashboard #system-info .parameters {
    text-align: center;
    border-top: 2px black dashed;
}

#dashboard #system-info .parameters .parameter{
    border-right: 2px black dashed;
}


/*#dashboard #system-info .parameters .parameter .icon {*/
    /*!*background: white;*!*/
    /*border-right: 2px black dashed;*/
/*}*/

/*#dashboard #system-info .parameters .parameter .info {*/
    /*!*background: blue;*!*/
    /*border-right: 2px black dashed;*/

/*}*/

#dashboard #system-info .parameters .parameter .info .label {
    display: inline;
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25pt;
    line-height: 2;

}

#dashboard #system-info .parameters .parameter .info .value {
    display: inline;
    font-family: "sixcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-size: 25pt;
    font-weight: 500;

}

/* --------------------- BODY ----------------*/
#dashboard #body {
    margin-top: 50px;
    padding: 30px;
}

/* --------------------- FOOTER ----------------*/

#footer {
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer .report-symptoms {
    width: 100%;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20pt;
    font-weight: 500;
    background: black;
    border:0;
}