body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 34px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
}
